* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    line-height: 1.2;
}

body {
    background: rgba(0, 8, 17, 0.904);
}

.header {
    background: rgba(0, 43, 70, 0.623);
    height: 40px;
}
@media (max-width:820px) {
    .header {
        background: rgba(0, 0, 0, 0.623);
        height: 40vh;
    }
}
.header .p-header {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding-top: 0.6rem;
    color: white;
}

.header .p-header span {
    font-size: 0.8rem;
    color: white;
}

.header .a-text {
    text-decoration: none;
    color: rgba(0, 134, 175, 0.87);
}

.header .a-text:hover {
    text-decoration: underline;
    color: rgba(0, 155, 202, 0.87);
}

.hero {
    display: flex;
    margin-top: 0.6rem;
}

.hero .logo-react {
    margin-left: 1rem;
    margin-top: -0.3rem;
    color: #00c4e6;
}

.hero .input-text-button {
    width: 40rem;
    height: 2.4rem;
    margin-left: 1rem;
    border: none;
    background: rgba(75, 94, 112, 0.281);
    border-radius: 26px;
    padding-left: 15px;
}

.hero .input-text-button::placeholder {
    color: rgba(240, 248, 255, 0.61);
}

.hero ul {
    display: flex;
    margin-left: 1rem;
    list-style-type: none;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.hero a:hover {
    text-decoration: none;
    color: aliceblue;
}

.blog-edit a {
    background: rgba(122, 191, 255, 0.247);
    padding: 10px;
    border-radius: 25px;
}

.blog-edit a span {
    color: #00c4e6;
}

.pargrphs-section {
    display: grid;
    place-content: center space-around;
    row-gap: 1.3rem;
}
.hero ul li a{
    color: white;
    margin-left: 1.1rem;
    text-decoration: none;
    position: relative;
}
.hero ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    bottom: -6px;
    background: #00c4e6;
    left: 0;
    position: absolute;
    transition: 0.5s ease;
}
.hero ul li a:hover::after{
    width: 100%;
}

.hero .svg-1 {
    margin-left: 2rem;
    margin-top: 0.4rem;
}

.hero .svg-2 {
    margin-left: 1.7rem;
    margin-top: 0.4rem;
}


/* nav */

.nav {
    margin-top: 2rem;
}

.nav h1 {
    color: white;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.a-nav {
    display: flex;
    color: #00c4e6;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
}

.a-nav .img-nav {
    width: 1.4vw;
}

.nav .p-1 {
    color: white;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.nav .p-1 a {
    color: #00c4e6;
    text-decoration: none;
}

.nav .p-1 a:hover {
    text-decoration: underline;
}

.pargraph {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.445);
    padding: 20px;
    border-radius: 20px;
    width: 56rem;
    height: 15rem;
}

.pargraph h1 a {
    color: white;
    text-decoration: none;
}

.pargraph h1 a:hover {
    text-decoration: underline;
}

.pargraph .p-date {
    margin: 1.4rem 0rem 0rem 0rem;
    color: rgba(255, 255, 255, 0.719);
}

.pargraph .p-inner {
    margin: 1.4rem 0rem 0rem 0rem;
    font-size: 1rem;
}

.p-a {
    margin-top: 1.2rem;
}

.p-a a {
    color: #00c4e6;
    text-decoration: none;
}

.p-a a:hover {
    text-decoration: underline;
}

.editing-pargraph h4 {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.2rem;
}

.editing-pargraph ul {
    margin: 1.2rem 0rem 0rem 2rem;
}

.pargraph-2 h3 {
    color: white;
}

.pargraph-2 .p-under-pargraph {
    color: white;
    font-family: sans-serif;
    margin-top: 2rem;
    line-height: 1.5;
}

.pargraph-2 .p-under-pargraph .a-1 {
    color: #00c4e6;
    background: rgba(100, 100, 100, 0.432);
    border-radius: 4px;
    text-decoration: none;
}

.pargraph-2 .p-under-pargraph .a-2 {
    color: #00c4e6;
    text-decoration: none;
}

.hr {
    margin-top: 5rem;
    color: black;
}

.pargraph-2 .p-under-pargraph .a-2:hover {
    text-decoration: underline;
}

.pargraph-2 .p-under-pargraph .a-1:hover {
    text-decoration: underline;
}

.footer {
    height: 20rem;
    display: flex;
    margin-left: 10rem;
    margin-top: 3rem;
}

.footer svg {
    color: white;
    margin-top: 0.8rem;
}

.footer p {
    color: white;
    line-height: 3;
}

.list {
    line-height: 2;
    margin-left: 5rem;
}

.list ul {
    color: white;
    line-height: 3;
}

.list ul li {
    list-style-type: none;
    line-height: 2;
}

.list ul a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

.list .svg-g {
    margin-top: 2.2rem;
}

.list ul a:hover {
    text-decoration: underline;
}